<section class="about-us">
    <div class="container about-us__container animation-item">
        <div class="about-us__inner">
            <div class="about-us__col animation-item" data-position="left">
                <h2 class="about-us__title title">
                    About Us
                </h2>
                <p class="about-us__descr descr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere tristique. In sed odio nec aliquet eu proin mauris et.
                </p>
                <button class="btn btn-reset btn--primary">
                    Know More
                </button>
            </div>
            <div class="about-us__col animation-item" data-position="right">
                <h2 class="about-us__title title">
                    Our History
                </h2>
                <p class="about-us__descr descr">
                    Adipiscing tempus ullamcorper lobortis odio tellus arcu volutpat. Risus placerat morbi volutpat habitasse interdum mi aliquam In sed odio nec aliquet.
                </p>
                <button class="btn btn-reset btn--primary">
                    Know More
                </button>
            </div>
        </div>
    </div>
</section>