<section class="customers">
    <div class="container customers__container">
        <p class="customers__overhead overhead">Testimony</p>
        <h2 class="customers__title title">Happy customers</h2>

        <div class="customers__inner">
            <ul class="customers__list ul-reset">
                <li class="customers__item">
                    <div class="customers__image">
                        <img src="./img/customers/customer-1.jpg" alt="Photo Wade Warren">
                    </div>
                    <div class="customers__content">
                        <p class="customers__descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
                        </p>
                        <h3 class="customers__subtitle">
                            Wade Warren
                        </h3>
                        <span class="customers__role">
                            Sommelier
                        </span>
                    </div>
                </li>

                <li class="customers__item">
                    <div class="customers__image">
                        <img src="./img/customers/customer-2.jpg" alt="Photo Jane Cooper">
                    </div>
                    <div class="customers__content">
                        <p class="customers__descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
                        </p>
                        <h3 class="customers__subtitle">
                            Jane Cooper
                        </h3>
                        <span class="customers__role">
                            Chef
                        </span>
                    </div>
                </li>

                <li class="customers__item">
                    <div class="customers__image">
                        <img src="./img/customers/customer-3.jpg" alt="Photo Robert Fox">
                    </div>
                    <div class="customers__content">
                        <p class="customers__descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
                        </p>
                        <h3 class="customers__subtitle">
                            Robert Fox
                        </h3>
                        <span class="customers__role">
                            Chef
                        </span>
                    </div>
                </li>

                <li class="customers__item">
                    <div class="customers__image">
                        <img src="./img/customers/customer-4.jpg" alt="Photo Brooklyn Simmons">
                    </div>
                    <div class="customers__content">
                        <p class="customers__descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
                        </p>
                        <h3 class="customers__subtitle">
                            Brooklyn Simmons
                        </h3>
                        <span class="customers__role">
                            Caterer 
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>