<section class="gallery">
    <div class="container-xl gallery__container">
        <div class="gallery__content">
            <p class="overhead gallery__overhead">
                Instagram
            </p>
            <h2 class="title gallery__title">
                Photo Gallery
            </h2>
            <p class="descr gallery__descr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mu.
            </p>
            <button class="btn btn-reset btn--primary gallery__btn">
                View More
            </button>
        </div>

        <div class="gallery__images">
            <div class="gallery__slider slider-container">
                <div class="slider-top">
                    <div class="slider-buttons">
                        <button class="swiper-button-prev"></button>
                        <button class="swiper-button-next"></button>
                    </div>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide gallery__card">
                            <img src="./img/gallery/1.jpg" alt="">
                            <div class="gallery__links">
                                <a href="">
                                    <svg class="">
                                        <use xlink:href="./img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide gallery__card">
                            <img src="./img/gallery/1.jpg" alt="">
                            <div class="gallery__links">
                                <a href="">
                                    <svg class="">
                                        <use xlink:href="./img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide gallery__card">
                            <img src="./img/gallery/1.jpg" alt="">
                            <div class="gallery__links">
                                <a href="">
                                    <svg class="">
                                        <use xlink:href="./img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide gallery__card">
                            <img src="./img/gallery/1.jpg" alt="">
                            <div class="gallery__links">
                                <a href="">
                                    <svg class="">
                                        <use xlink:href="./img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide gallery__card">
                            <img src="./img/gallery/1.jpg" alt="">
                            <div class="gallery__links">
                                <a href="">
                                    <svg class="">
                                        <use xlink:href="./img/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>