<header class="header">
    <div class="container-xl header__container">
        <div class="header__logo">
            <a href="#">
                <img src="./img/logo/logo.png" alt="Логотип сайта">
            </a>
        </div>

        <nav class="header__nav main-nav">
            <ul class="main-nav__list site-list ul-reset">
                <li class="site-list__item">
                    <a href="#" class="site-list__link">Home</a>
                </li>
                <li class="site-list__item">
                    <a href="#" class="site-list__link">Pages</a>
                </li>
                <li class="site-list__item">
                    <a href="#" class="site-list__link">Contact Us</a>
                </li>
                <li class="site-list__item">
                    <a href="#" class="site-list__link">Blog</a>
                </li>
                <li class="site-list__item">
                    <a href="#" class="site-list__link">Landing</a>
                </li>
            </ul>
        </nav>

        <ul class="header__list user-list ul-reset">
            <li class="user-list__item">
                <a href="#" class="user-list__link">Log in / registration</a>
            </li>
            <li class="user-list__item">
                <a href="#" class="user-list__link">Book table</a>
            </li>
        </ul>
    </div>
</header>