<section class="intro">
    <div class="container-xl intro__container-xl">
        <ul class="intro__hashtags hashtags ul-reset">
            <li class="hashtags__item">
                <a href="#" class="hashtags__link">
                    #Bar
                </a>
            </li>
            <li class="hashtags__item">
                <a href="#" class="hashtags__link">
                    #Gericht
                </a>
            </li>
        </ul>

        <div class="intro__inner">
            <div class="container intro__container">
                <div class="intro__content">
                    <p class="intro__overhead">
                        Chase the new Flavour
                    </p>
                    <h1 class="intro__title">
                        The key to Fine dining
                    </h1>
                    <p class="intro__descr">
                        Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
                    </p>
    
                    <button class="btn btn-reset btn--primary">
                        Explore Menu
                    </button>
                </div>

                <div class="intro__img">
                    <img src="./img/intro/eggs.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>