<section class="laurels">
    <div class="container laurels__container">
        <div class="laurels__col">
            <p class="laurels__overhead overhead">
                Awards & recognition
            </p>
            <h2 class="laurels__title title">
                Our Laurels
            </h2>
    
            <ul class="ul-reset laurels__list">
                <li class="laurels__item">
                    <div class="laurels__image">
                        <img src="./img/laurels/laurels-2.png" alt="2">
                    </div>
                    <div class="laurels__content">
                        <h3 class="laurels__subtitle">
                            Bib Gourmond
                        </h3>
                        <p class="laurels__descr descr">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </li>
                <li class="laurels__item">
                    <div class="laurels__image">
                        <img src="./img/laurels/laurels-1.png" alt="1">
                    </div>
                    <div class="laurels__content">
                        <h3 class="laurels__subtitle">
                            Rising Star
                        </h3>
                        <p class="laurels__descr descr">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </li>
                <li class="laurels__item">
                    <div class="laurels__image">
                        <img src="./img/laurels/laurels-5.png" alt="5">
                    </div>
                    <div class="laurels__content">
                        <h3 class="laurels__subtitle">
                            AA Hospitality 
                        </h3>
                        <p class="laurels__descr descr">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </li>
                <li class="laurels__item">
                    <div class="laurels__image">
                        <img src="./img/laurels/laurels-3.png" alt="3">
                    </div>
                    <div class="laurels__content">
                        <h3 class="laurels__subtitle">
                            Outstanding Chef
                        </h3>
                        <p class="laurels__descr descr">
                            Lorem ipsum dolor sit amet, consectetur.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="laurels__food-img laurels__col">
            <img src="./img/laurels/laurels-food.jpg" alt="Фото еды">
        </div>
    </div>
</section>