<section class="menu">
    <div class="container-xl menu__container-xl">
        <ul class="menu__list ul-reset">
            <li class="menu__item menu__item--active" data-img="./img/menu/menu-bg-1.jpg">
                Bar Menu
            </li>
            <li class="menu__item" data-img="./img/menu/menu-bg-2.jpg">
                Food Menu
            </li>
            <li class="menu__item" data-img="./img/menu/menu-bg-3.jpg">
                Desserts Menu
            </li>
        </ul>
    </div>
</section>