<section class="order">
    <div class="container order__container">
        <div class="order__inner">
            <p class="order__overhead">
                Reservations
            </p>
            <h2 class="order__title title">
                Book A Table
            </h2>

            <div class="order__content">
                <form class="order__form">
                    <label class="order__label" for="orderPersons">
                        <select name="orderPersons" id="orderPersons" class="order__count">
                            <option value="1">1 person</option>
                            <option value="1">2 person</option>
                            <option value="1">3 person</option>
                            <option value="1">4 person</option>
                        </select>
                    </label>
                    
                    <label class="order__label" for="orderDate">
                        <input type="date" name="orderDate" id="orderDate" value="2000-01-01">
                    </label>

                    <label class="order__label" for="orderTime">
                        <input type="time" id="orderTime" name="orderTime" value="12:00">
                    </label>
                </form>

                <button class="btn btn-reset btn--primary">
                    Book Now
                </button>
            </div>
        </div>
    </div>
</section>