<section class="special">
    <div class="container special__container">
        <p class="special__overhead overhead">Menu that fits you palatte</p>
        <h2 class="special__title title">
            Today’s Special
        </h2>

        <div class="special__content">
            <div class="special__col animation-item" data-position="left" >
                <h3 class="special__subtitle">
                    Wine & Beer
                </h3>
                <dl class="special__list">
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Chapel Hill Shiraz</dt>
                            <dd class="special__details">$56</dd>
                        </div>
                        <span class="special__extra">
                            AU | Bottle
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Catena Malbec</dt>
                            <dd class="special__details">$59</dd>
                        </div>
                        <span class="special__extra">
                            AU | Bottle
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">La Vieille Rosé</dt>
                            <dd class="special__details">$44</dd>
                        </div>
                        <span class="special__extra">
                            FR | 750 ml
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Rhino Pale Ale</dt>
                            <dd class="special__details">$31</dd>
                        </div>
                        <span class="special__extra">
                            CA | 750 ml
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Irish Guinness</dt>
                            <dd class="special__details">$26</dd>
                        </div>
                        <span class="special__extra">
                            IE | 750 ml
                        </span>
                    </div>
                </dl>
            </div>
            <div class="special__col special__center-image">
                <img src="./img/special/special-bg.png" alt="">
            </div>
            <div class="special__col animation-item" data-position="right">
                <h3 class="special__subtitle">
                    Cocktails
                </h3>
                <dl class="special__list">
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Aperol Spritz</dt>
                            <dd class="special__details">$20</dd>
                        </div>
                        <span class="special__extra">
                            Aperol | Villa Marchesi prosecco | soda | 30ml
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Dark 'N' Stormy</dt>
                            <dd class="special__details">$16</dd>
                        </div>
                        <span class="special__extra">
                            Dark rum | Ginger beer | Slice of lime. 
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Daiquiri</dt>
                            <dd class="special__details">$10</dd>
                        </div>
                        <span class="special__extra">
                            Rum | Citrus juice | Sugar
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Old Fashioned</dt>
                            <dd class="special__details">$31</dd>
                        </div>
                        <span class="special__extra">
                            Bourbon | Brown sugar | Angostura Bitters
                        </span>
                    </div>
                    <div class="special__item">
                        <div class="special__descr">
                            <dt class="special__term">Negroni</dt>
                            <dd class="special__details">$26</dd>
                        </div>
                        <span class="special__extra">
                            Gin | Sweet Vermouth | Campari | Orange garnish
                        </span>
                    </div>
                </dl>
            </div>
        </div>
        <button class="btn btn-reset btn--primary special__btn">
            View More
        </button>
    </div>
</section>