<section class="updates">
    <div class="container updates__container">
        <p class="overhead">Blogs</p>
        <h2 class="title">Gerícht updates</h2>

        <ul class="updates__list ul-reset">
            <li class="updates__item">
                <div class="updates__image">
                    <img src="./img/updates/cart-img-1.jpg" alt="">
                </div>

                <div class="updates__content">
                    <header class="updates__item-header">
                        <time datetime="" class="updates__time">16 Apr 2021</time>
                        <span class="updates__name">Annalisa L</span>
                    </header>

                    <div class="updates__item-wrapper">
                        <h3 class="updates__subtitle">
                            tips for prepping and caring for your grill
                        </h3>

                        <div class="updates__descr descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
                        </div>
                    </div>

                    <footer class="updates__item-footer">
                        <a href="#" class="updates__more">Read More</a>
                    </footer>
                </div>
            </li>

            <li class="updates__item">
                <div class="updates__image">
                    <img src="./img/updates/cart-img-2.jpg" alt="">
                </div>

                <div class="updates__content">
                    <header class="updates__item-header">
                        <time datetime="" class="updates__time">23 May 2021</time>
                        <span class="updates__name">John Micheal</span>
                    </header>

                    <div class="updates__item-wrapper">
                        <h3 class="updates__subtitle">
                            summer cocktails and mocktails
                        </h3>

                        <div class="updates__descr descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
                        </div>
                    </div>

                    <footer class="updates__item-footer">
                        <a href="#" class="updates__more">Read More</a>
                    </footer>
                </div>
            </li>

            <li class="updates__item">
                <div class="updates__image">
                    <img src="./img/updates/cart-img-3.jpg" alt="">
                </div>

                <div class="updates__content">
                    <header class="updates__item-header">
                        <time datetime="" class="updates__time">06 Aug 2021</time>
                        <span class="updates__name">Fred W</span>
                    </header>

                    <div class="updates__item-wrapper">
                        <h3 class="updates__subtitle">
                            easy cooking for college students
                        </h3>

                        <div class="updates__descr descr">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat mattis ipsum turpis elit elit scelerisque egestas mus in.
                        </div>
                    </div>

                    <footer class="updates__item-footer">
                        <a href="#" class="updates__more">Read More</a>
                    </footer>
                </div>
            </li>
            
        </ul>

        <button class="btn btn-reset btn--primary updates__btn">
            View More
        </button>
    </div>
</section>