a {
    color: $white;
    text-decoration: none;  
}

.ul-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

