// FONTS

$font-family-first: "Open Sans";
$font-family-second: "Cormorant Upright";
$font-family-third: "Bestermind";
$body-font-family: $font_family_first, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


// COLORS
$white: #ffffff;
$black: #000000;
$calico: #DCCA87;
$silver: #AAAAAA;
$cod: #0C0C0C;
$alabaster: #fafafa